<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/cards/card3/favicon-32x32.png">
  <link rel="stylesheet" href="css/cards/card3.css">
  <title>Card 3</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(277, 64%, 61%);; }
  </style>
</head>
<body>

<section id="card">
  <section id="img">
    <div class="overlay"></div>
  </section>
  <section id="get">
    <h1>Get <span id="one">insights</span> that help your business grow.</h1>
    <p>Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.</p>
    <div class="stats">
      <ul>
          <li>10k+<br><span>companies</span></li>
          <li>314<br><span>templates</span></li>
          <li>12M+<br><span>queries</span></li>
      </ul>
  </div>
  </section>
</section>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Hazem Salah</a>.
  </div>
</body>
</html>