<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/cards/card3/favicon-32x32.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/cards/card7.css">
  
  <title>Card 7</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <div class="container">
    <div class="paragraph text-center">
      <h3>Reliable, efficient delivery</h3>
      <h2>Powered by Technology</h2>
      <p>Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successful</p>
    </div>
    <div class="row">
      <div class="col-lg-4 supervisor">
        <h4>Supervisor</h4>
        <p>Monitors activity to identify project roadblocks</p>
        <img src="/images/cards/card7/icon-supervisor.svg">
      </div>
      <div class="col-lg-4 team-builder">
        <h4>Team Builder</h4>
        <p>Scans our talent network to create the optimal team for your project</p>
        <img src="/images/cards/card7/icon-team-builder.svg">
      </div>
      <div class="col-lg-4 calculator">
        <h4>Calculator</h4>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <img src="/images/cards/card7/icon-calculator.svg">
      </div>
        <div class="offset-4 col-lg-4 karma">
          <h4>Karma</h4>
          <p>Regularly evaluates our talent to ensure quality</p>
          <img src="/images/cards/card7/icon-karma.svg">
        </div>
    </div>
  </div>
  <footer>
    <p class="attribution">
      <p>Copyright &copy; 2023 by Hazem Salah | All Rights Reserved.</p>
    </p>
  </footer>
</body>
</html>