<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/cards/card3/favicon-32x32.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/cards/card8.css">
  <script src="https://kit.fontawesome.com/c31c97f802.js" crossorigin="anonymous"></script>

  
  <title>Card 8</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(300, 69%, 71%); }
  </style>
</head>

<div class="main">
  <div class="container">
    <div class="head">
      <img src="/images/cards/card8/logo.svg">
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/cards/card8/illustration-mockups.svg">
      </div>
      <div class="col-lg-6">
        <h1>Build The Community Your Fans Will Love</h1>
        <p>  Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
          Create connections with your users as you engage in genuine discussion. </p>
          <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
    <div class="foot">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</div>
<body>
  <footer>
    <p class="attribution">
      <p>Copyright &copy; 2023 by Hazem Salah | All Rights Reserved.</p>
    </p>
  </footer>
</body>
</html>