<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/cards/card3/favicon-32x32.png"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cards/card6.css">
    <title>Card 6</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(300, 43%, 22%);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about">
          <h2>10,000+ of our users love our products.</h2>
          <p>We only provide great products combined with excellent customer service.
            See what our satisfied customers are saying about our services.</p>
        </div>
        <div class="col-lg-6 stars">
          <p class="revies">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <span>Rated 5 Stars in Reviews</span></p>
          <p class="report">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <span>Rated 5 Stars in Reviews</span></p>
          <p class="besttech">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <img src="/images/cards/card6/icon-star.svg">
            <span>Rated 5 Stars in Reviews</span></p>
        </div>
      </div>
      <div class="row cards">
        <div class="col-lg-4 first">
          <div class="colton">
            <div class="head">            
              <img src="/images/cards/card6/image-colton.jpg">
              <div class="body">
                <p class="name">Colton Smith </p>
                <p class="verification">Verified Buyer</p>
              </div>
            </div>
            <p class="paragraph">"We needed the same printed design as the one we had ordered a week prior.
              Not only did they find the original order, but we also received it in time.
              Excellent!"</p>
          </div>
        </div>
        <div class="col-lg-4 second">
          <div class="irene">
            <div class="head">
              <img src="/images/cards/card6/image-irene.jpg">
              <div class="body">
                <p class="name">Irene Roberts </p>
                <p class="verification">Verified Buyer</p>
              </div>
            </div>
            <p class="paragraph">"Customer service is always excellent and very quick turn around. Completely
              delighted with the simplicity of the purchase and the speed of delivery."</p>
          </div>
        </div>
        <div class="col-lg-4 third">
          <div class="anne">
            <div class="head">
              <img src="/images/cards/card6/image-anne.jpg">
              <div class="body">
                <p class="name">Anne Wallace</p>
                <p class="verification">Verified Buyer</p>
              </div>
            </div>
            <p class="paragraph">"Put an order with this company and can only praise them for the very high
              standard. Will definitely use them again and recommend them to everyone!"</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Hazem Salah</a>.
    </div>
  </body>
</html>
