<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>

    <link rel="stylesheet" href="css/landingPageStyle.css" />

    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- header design -->

    <header class="header">
      <a href="#" class="logo">Perfection</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#journey">Journey</a>
        <a href="#cards">Cards</a>
        <a href="#project">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <!-- home section design -->

    <section class="home" id="home">
      <div class="home-content">
        <h1>Hi, I'm <span>Hazem Salah</span></h1>
        <div class="text-animate">
          <h3>Full-stack Developer</h3>
        </div>
        <p>
          I am able to create and implement website design using MERN.
          Interested in improving my full-stack skills.
        </p>
        <div class="btn-box">
          <a
            href="https://www.linkedin.com/in/hazem-salah-a07402242/"
            target="_blank"
            class="btn"
            >Hire Me</a
          >
          <a href="https://t.me/ToM_Cr0Z" target="_blank" class="btn"
            >Let's Talk</a
          >
        </div>
      </div>

      <div class="home-sci">
        <a href="https://www.facebook.com/hazem.salah.397/" target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a href="https://t.me/ToM_Cr0Z" target="_blank"
          ><i class="bx bxl-telegram"></i
        ></a>
        <a href="https://github.com/moksha1111" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/hazem-salah-a07402242/"
          target="_blank"
          ><i class="bx bxl-linkedin"></i
        ></a>
      </div>

      <div class="home-imgHover"></div>
    </section>

    <!-- about section design -->

    <section class="about" id="about">
      <h2 class="heading">About <span>Me</span></h2>

      <div class="about-img">
        <img src="images/landingpage/aboutLandingPage.jpg" alt="" />
        <span class="circle-spin"></span>
      </div>

      <div class="about-content">
        <h3>Full-stack Developer</h3>
        <p>
          A web developer who works with both the front and the back ends of a
          website, provide an end-to-end service, and can be involved in
          projects that involve databases and building user-facing websites.
        </p>
        <p>
          I speak Arabic and English languages. Studying Russian and Ukrainian.
        </p>
      </div>

      <div class="btn-box btns">
        <a
          href="https://www.linkedin.com/in/hazem-salah-a07402242/"
          target="_blank"
          class="btn"
          >Read More</a
        >
      </div>
    </section>

    <!-- journey section -->

    <section class="journey" id="journey">
      <h2 class="heading">My <span>Journey</span></h2>

      <div class="journey-row">
        <div class="journey-column">
          <div class="journey-box">
            <div class="journey-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i> 2014 - 2019
                </div>
                <h3>Bacheleor Degree - University</h3>
                <p>
                  Bacheleor of Pharmacy, October University for Modern Sciences
                  and Arts, Graduated 2019.
                </p>
              </div>
            </div>

            <div class="journey-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i> 2018 - 2029
                </div>
                <p>One year of experience as pharmacist at pharmacy</p>
              </div>
            </div>

            <div class="journey-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i> 2019 - 2020
                </div>
                <p>One year of experience as Medical representative</p>
              </div>
            </div>

            <div class="journey-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i> 2020 - 2021
                </div>
                <h3>Army Service</h3>
                <p>One year of serving in Army of Egypt.</p>
              </div>
            </div>

            <div class="journey-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i> 2021 - 2023
                </div>
                <h3>Self-education</h3>
                <p>
                  Online Courses: Elzero Web School / freeCodeCamp.org / Bro
                  Code / Codehal
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- cards section -->

    <section class="cards" id="cards">
      <h2 class="heading">My <span>Cards</span></h2>

      <div class="cards-row">
        <div class="cards-column">
          <div class="cards-box">
            <a href="/card1" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 1</h3>
                </div>
              </div>
            </a>

            <a href="/card2" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 2</h3>
                </div>
              </div>
            </a>

            <a href="/card3" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 3</h3>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="cards-column">
          <div class="cards-box">
            <a href="/card4" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 4</h3>
                </div>
              </div>
            </a>

            <a href="/card5" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 5</h3>
                </div>
              </div>
            </a>

            <a href="/card6" target="_blank">
              <div class="cards-content">
                <div class="content">
                  <h3>Card 6</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- project section design -->

    <section class="project" id="project">
      <h2 class="heading">My <span>Projects</span></h2>

      <div class="project-row">
        <div class="project-column">
          <div class="project-box">
            <a href="https://ai-website-56c3.onrender.com" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 1</h3>
                </div>
              </div>
            </a>

            <a href="https://mern-ecommerce-upp8.onrender.com/" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 2</h3>
                </div>
              </div>
            </a>

            <a
              href="https://food-website-project.onrender.com/"
              target="_blank"
            >
              <div class="project-content">
                <div class="content">
                  <h3>Project 3</h3>
                </div>
              </div>
            </a>

            <a href="https://testtask-akzw.onrender.com" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 4</h3>
                </div>
              </div>
            </a>

            <a href="/drugs" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 5</h3>
                </div>
              </div>
            </a>

            <a href="https://vite-project-8ekj.onrender.com" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 6</h3>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="project-column">
          <div class="project-box">
            <a href="/project3" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 7</h3>
                </div>
              </div>
            </a>

            <a href="/project4" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 8</h3>
                </div>
              </div>
            </a>

            <a href="/project5" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 9</h3>
                </div>
              </div>
            </a>

            <a href="https://luxury-car-showcase.onrender.com/" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 10</h3>
                </div>
              </div>
            </a>

            <a href="https://soundscape-uwtj.onrender.com/" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 11</h3>
                </div>
              </div>
            </a>

            <a href="https://movies-project-67jp.onrender.com/" target="_blank">
              <div class="project-content">
                <div class="content">
                  <h3>Project 12</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- skills section design -->

    <section class="skills" id="skills">
      <h2 class="heading">My <span>Skills</span></h2>

      <div class="skills-row">
        <div class="skills-column">
          <div class="skills-box">
            <div class="skills-content">
              <div class="content">
                <p>- Programming Language: Javascript</p>
                <p>
                  - Front-end Development: React.js, HTML5, CSS3, Tailwind CSS,
                  JQuery
                </p>
                <p>
                  - Back-end Development: Node.js, Express.js, MongoDB, MySQL
                </p>
                <p>- Fast learner & problem solver</p>
                <p>- Adaptability (career transition)</p>
                <p>- Integrated Development Environment: Visual Studio Code</p>
                <p>- Windows basic knowledge and working experience</p>
                <p>- Team Collaboration, Excellent Communication</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact section design -->

    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Me</span></h2>

      <form onsubmit="sendEmail(); reset(); return false;">
        <div class="input-box">
          <div class="input-field">
            <input
              type="text"
              id="name"
              autocomplete="off"
              placeholder="Full Name"
              required
            />
            <span class="focus"></span>
          </div>
          <div class="input-field">
            <input
              type="email"
              id="email"
              autocomplete="off"
              placeholder="Email Address"
              required
            />
            <span class="focus"></span>
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input
              type="text"
              autocomplete="off"
              id="number"
              placeholder="Mobile Number"
              size="50"
              onkeypress="return restrictAlphabets(event)"
              required
            />
            <span class="focus"></span>
          </div>
          <div class="input-field">
            <input
              type="text"
              autocomplete="off"
              placeholder="Subject"
              required
            />
            <span class="focus"></span>
          </div>
        </div>

        <div class="textarea-field">
          <textarea
            name=""
            id="msg"
            cols="30"
            rows="10"
            autocomplete="off"
            placeholder="Your Message"
            required
          ></textarea>
          <span class="focus"></span>
        </div>

        <div class="btn-box btns">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </section>

    <!-- footer design -->

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 by Hazem Salah | All Rights Reserved.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <script src="js/landingPageScript.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
      function sendEmail() {
        Email.send({
          Host: "smtp.elasticemail.com",
          Username: "hazem.salah41562@gmail.com",
          Password: "B0FB1F73758B86B9515D2F0DC776764B76AB",
          To: "hazem.salah41562@gmail.com",
          From: "hazem.salah41562@gmail.com",
          Subject: "New Contact Form Enquiry",
          Body:
            "Name: " +
            document.getElementById("name").value +
            "<br> Email: " +
            document.getElementById("email").value +
            "<br> Phone Number: " +
            document.getElementById("number").value +
            "<br> Message " +
            document.getElementById("msg").value,
        }).then((message) => alert("Message Sent Successfully."));
      }

      function restrictAlphabets(e) {
        var x = e.which || e.keycode;
        if (x >= 48 && x <= 57) return true;
        else {
          return false;
        }
      }
    </script>
  </body>
</html>
