<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2</title>
  <link rel="stylesheet" href="css/projects/project2.css">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Perfection.</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#about">About</a>
      <a href="#service">Service</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <section class="parralax">
    <img src="/images/projects/project2/hill1.png" id="hill1">
    <img src="/images/projects/project2/hill2.png" id="hill2">
    <img src="/images/projects/project2/hill3.png" id="hill3">
    <img src="/images/projects/project2/hill4.png" id="hill4">
    <img src="/images/projects/project2/hill5.png" id="hill5">
    <img src="/images/projects/project2/tree.png" id="tree">
    <h2 class="text" id="text">Parralax Website</h2>
    <img src="/images/projects/project2/leaf.png" id="leaf">
    <img src="/images/projects/project2/plant.png" id="plant">
  </section>

  <section class="sec">
    <h2>Parralax Scrolling Website</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, animi sint. In ipsum amet libero. A, iusto? Consectetur consequuntur alias molestiae iusto quia dolore voluptates, pariatur enim nisi, aliquid velit. Fugiat, laborum dolores maiores dignissimos in rem incidunt enim alias nam quas exercitationem temporibus doloremque facilis reiciendis consectetur obcaecati voluptatibus, eaque quasi laudantium sed, deleniti saepe blanditiis dolorem. Vero eligendi error quaerat est alias esse minima, omnis expedita, doloribus cumque labore, ipsa facere unde quis. Eius, placeat perspiciatis. Eaque tenetur fugit ipsum aliquam, esse rem vero numquam fuga maxime, nobis modi. Expedita repudiandae architecto alias porro placeat! Esse quis magni sit praesentium hic quod. Animi officia eveniet id? Dolorem assumenda illum autem deleniti, minima ut non harum labore eius omnis iure quod, neque ullam minus officia sit inventore quos maiores.</p><br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, animi sint. In ipsum amet libero. A, iusto? Consectetur consequuntur alias molestiae iusto quia dolore voluptates, pariatur enim nisi, aliquid velit. Fugiat, laborum dolores maiores dignissimos in rem incidunt enim alias nam quas exercitationem temporibus doloremque facilis reiciendis consectetur obcaecati voluptatibus, eaque quasi laudantium sed, deleniti saepe blanditiis dolorem. Vero eligendi error quaerat est alias esse minima, omnis expedita, doloribus cumque labore, ipsa facere unde quis. Eius, placeat perspiciatis. Eaque tenetur fugit ipsum aliquam, esse rem vero numquam fuga maxime, nobis modi. Expedita repudiandae architecto alias porro placeat! Esse quis magni sit praesentium hic quod. Animi officia eveniet id? Dolorem assumenda illum autem deleniti, minima ut non harum labore eius omnis iure quod, neque ullam minus officia sit inventore quos maiores.</p><br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, animi sint. In ipsum amet libero. A, iusto? Consectetur consequuntur alias molestiae iusto quia dolore voluptates, pariatur enim nisi, aliquid velit. Fugiat, laborum dolores maiores dignissimos in rem incidunt enim alias nam quas exercitationem temporibus doloremque facilis reiciendis consectetur obcaecati voluptatibus, eaque quasi laudantium sed, deleniti saepe blanditiis dolorem. Vero eligendi error quaerat est alias esse minima, omnis expedita, doloribus cumque labore, ipsa facere unde quis. Eius, placeat perspiciatis. Eaque tenetur fugit ipsum aliquam, esse rem vero numquam fuga maxime, nobis modi. Expedita repudiandae architecto alias porro placeat! Esse quis magni sit praesentium hic quod. Animi officia eveniet id? Dolorem assumenda illum autem deleniti, minima ut non harum labore eius omnis iure quod, neque ullam minus officia sit inventore quos maiores.</p><br><br>
  </section>

  <script src="js/projects/project2/1.js"></script>
</body>

</html>