<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/projects/project3.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Project 3</title>
</head>
<body>
  <div class="circle">
    
  </div>
  <header class="header">
    <a href="#" class="logo"><img src="/images/projects/project3/logo.png" alt=""></a>

    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#menu">Menu</a>
      <a href="#what's new">What's New</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <section class="home">
    <div class="home-content">
      <h2>It's not just a coffee<br>It's <span>Starbucks</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ut pariatur, magnam nemo tenetur exercitationem, iste explicabo minima laudantium labore repudiandae dignissimos. Exercitationem dolor dicta velit excepturi beatae obcaecati odit.</p>
      <a href="">Learn More</a>
    </div>
    <div class="home-image">
      <img src="/images/projects/project3/img1.png" alt="" class="starbucks">
    </div>

    <ul class="thumb">
      <li><img src="/images/projects/project3/thumb1.png" onclick="imgSlider('images/projects/project3/img1.png');changeCircleColor('#017143')"></li>
      <li><img src="/images/projects/project3/thumb2.png" onclick="imgSlider('images/projects/project3/img2.png');changeCircleColor('#eb7495')"></li>
      <li><img src="/images/projects/project3/thumb3.png" onclick="imgSlider('images/projects/project3/img3.png');changeCircleColor('#d752b1')"></li>
    </ul>

    <div class="home-sci">
      <a href=""><i class='bx bxl-facebook'></i></a>
      <a href=""><i class='bx bxl-twitter' ></i></a>
      <a href=""><i class='bx bxl-instagram'></i></a>
    </div>
  </section>

  <script src="js/projects/project3/1.js"></script>
</body>
</html>