<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/projects/project6.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c31c97f802.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
        <div class="container-fluid"> 
        <a class="navbar-brand d-none d-lg-block" href="#"><img src="images/projects/project6/ODA-open-alliance-e1569240637403.png" width="160"></a>
        <button class="navbar-toggler d-block d-sm-none d-none d-sm-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#myBtn" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand small d-block d-sm-none d-none d-sm-block d-lg-none" href="#"><img src="images/justODA.jpg" width="50"></a>
        <ul class="navbar-nav ml-auto mb-2 mb-xl-0">
            <li class="nav-link d-none d-lg-block"><a class="freetrial" href="#">Free Trial</a></li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#">Solution</a>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#">Demo</a>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-none d-lg-block" href="#">Community</a>
            </li>
            <li class="nav-item d-none d-xl-block d-xxl-none">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item d-none d-lg-block d-xl-none">
                <a class="nav-link EN" href="#">EN</a>
            </li>
            <li class="nav-item search d-none d-lg-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>            
            </li>
            <li class="nav-item search2 d-none d-md-block d-lg-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>            
            </li>
            <li class="nav-item user d-none d-lg-block d-xl-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>           
            </li>
        </ul>
        </div>
    </nav>
    <button class="btn d-none d-lg-block" id="live">Live Demo</button>
    <section class="ODA text-center ">
        <div class="new">
            <div class="container">
                
                <h1>The Equalizer for CAD Development</h1>
                <h4>Premium SDKs for the professional CAD developer</h4>
                <p><span>Trusted by</span></p>

                <div class="row">

                    <div class="col-lg-2 offset-md-1 d-none d-lg-block">
                        <div class="trusted">
                            <img src="images/projects/project6/logooda1.png">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 d-block d-sm-none d-none d-sm-block d-lg-none">
                        <div class="trusted">
                            <img src="images/projects/project6/logooda1.png">
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-4 d-sm-none d-md-block">
                        <div class="trusted" id="hideinxs">
                            <img src="images/projects/project6/logooda2.png">
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-4 d-sm-none d-md-block">
                        <div class="trusted-edit" id="hideinxs">
                            <img src="images/projects/project6/logooda3.png" width="126" heigth="40">
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-md-4 d-sm-none d-md-block">
                        <div class="trusted" id="hideinxs">
                            <img src="images/projects/project6/logooda4.png">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 d-sm-none d-md-block">
                        <div class="trusted" id="hideinxs">
                            <img src="images/projects/project6/logooda5.png">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 d-block d-sm-none d-none d-sm-block d-lg-none ">
                        <div class="trusted">
                            <img src="images/projects/project6/logooda5.png">
                        </div>
                    </div>

                </div>

                <h4 class="whatisoda">What is ODA</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                    <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg>
            </div>
        </div>
    </section>

    <section class="level text-center d-none d-lg-block">
        <div class="leveling">
            <div class="container forlvl">
                <h3>Leveling the playing field for engineering 
                    <br>application development</h3>


                <div class="row">
                    <div class="col-lg-4">
                        <div class="lvl">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                            </svg>
                            <h5>.dwg Toolset</h5>
                            <p>Integrate .dwg support into any application or build your own .dwg-based visualization or authoring tools.</p>
                            <p id="two">Discover .dwg Toolset</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="lvl">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                            </svg>
                            <h5>BIM Suite</h5>
                            <p>Interoperability toolkits for Autodesk® Revit® files, Autodesk® Navisworks® files, IFC, and more..</p>
                            <p id="two">Discover BIM Suite</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="lvl">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                            </svg>
                            <h5>Technology Stack</h5>
                            <p>Sophisticated components for visualization, web development, publishing, modeling, etc, and more.</p>
                            <p id="two">Discover Technology Stack</p>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>
<!-- Start of carousel -->
<!-- Slideshow container -->
<div class="slideshow-container d-block d-sm-none d-none d-sm-block d-lg-none">

    <!-- Full-width slides/quotes -->
    <h3 class="text-center">Leveling the playing field for engineering 
        <br>application development</h3>
    <div class="mySlides">

        <div class="lvl">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
            </svg>
            <h5>.dwg Toolset</h5>
            <p>Integrate .dwg support into any application or build your own .dwg-based visualization or authoring tools.</p>
            <p id="two">Discover .dwg Toolset</p>
        </div>
    </div>
  
    <div class="mySlides">

        <div class="lvl">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
            </svg>
            <h5>BIM Suite</h5>
            <p>Interoperability toolkits for Autodesk® Revit® files, Autodesk® Navisworks® files, IFC, and more..</p>
            <p id="two">Discover BIM Suite</p>
        </div>
    </div>
  
    <div class="mySlides">
        <div class="lvl">

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
            </svg>
            <h5>Technology Stack</h5>
            <p>Sophisticated components for visualization, web development, publishing, modeling, etc, and more.</p>
            <p id="two">Discover Technology Stack</p>
        </div>
    </div>
  
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  
  <!-- Dots/bullets/indicators -->
  <div class="dot-container d-block d-sm-none d-none d-sm-block d-lg-none">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
<!-- End of carousel -->

    <section class="third text-center">
        <div class="th3rd">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="lvl">
                            <h4>ODA DevCon 2019</h4>
                            <p>Milan, Italy, September 10-11th</p>
                            <br>
                            <h4>New Oppurtunities<br>with BIM + Cloud</h4>
                            <br>
                            <p class="d-none d-lg-block">For more information, please visit<br><span>conference.opendesign.com.</span></p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-8 col-md-12">
                        <div class="lvl">
                            <p>ODA is pleased to announce our 6th annual DevCon event, with a change in venue this year. Join us in Milan to learn about the latest advancements in ODA technology, and consult with the ODA team.</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-8 col-md-12">
                        <div class="lvl">
                            <p class="d-block d-sm-none d-none d-sm-block d-lg-none">For more information, please visit<br><span>conference.opendesign.com.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fourth text-center">
        <div class="fourth4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="lvl">
                            <p>Open Design Alliance is a non-profit technology consortium of 1200 member companies, working together to develop solutions  for complex enginering design problems.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-left">
                        <div class="lvl">
                            <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                              </svg>Professional Development</h5>
                            <p>Team of more than<br>80 full-time engineers</p>
                            <br>
                            <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                              </svg>Industry Cooperation</h5>
                            <p>1200 member companies<br>world wide</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-left">
                        <div class="lvl">
                            <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                              </svg>Superior Business Model</h5>
                            <p>Non-profit with 80%<br>of revenue to R&D</p>
                            <br>
                            <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                              </svg>Transparent Pricing</h5>
                            <p>Published fee schedule<br>free tech support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

          <!-- Start of Footer -->

          <section class="footer">
            <div class="copyright text-center">
              Made with ❤ at <span>Home</span> © 2021, All rights reserved.
            </div>
          </section>
    
    
          <!-- End of Footer -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/projects/project6/1.js"></script>
  </body>
</html>