<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/projects/project5.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Project 5</title>
</head>
<body>
  <header class="header">
    <a href="#" class="logo">TRAVEL</a>

    <nav class="navbar">
      <a href="#latest" class="active">Latest</a>
      <a href="#modern">Modern</a>
      <a href="#contemporary">Contemporary</a>
      <a href="#affordable">Affordable</a>
    </nav>
  </header>

  <section class="home">
    <video class="video-slide active" src="videos/projects/project5/1.mp4" autoplay muted loop></video>
    <video class="video-slide" src="videos/projects/project5/2.mp4" autoplay muted loop></video>
    <video class="video-slide" src="videos/projects/project5/3.mp4" autoplay muted loop></video>
    <div class="content">
      <div class="home-content active">
        <h2>Wonderful.<br><span>Island</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!</p>
        <button class="myBtn">Read More</button>
      </div>
      <div class="home-content">
        <h2>Adventures.<br><span>Off Road</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!</p>
        <button class="myBtn">Read More</button>
      </div>
      <div class="home-content">
        <h2>Feel Nature.<br><span>Relax</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam alias cum labore accusamus neque omnis assumenda ratione vitae dignissimos tenetur quae mollitia odio explicabo sapiente pariatur eligendi officiis, expedita repellendus!</p>
        <button class="myBtn">Read More</button>
      </div>
  
      <div class="home-sci">
        <a href=""><i class='bx bxl-facebook'></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bxl-instagram'></i></a>
      </div>
    </div>

    <div class="slider-navigation">
      <div class="nav-btn active"></div>
      <div class="nav-btn"></div>
      <div class="nav-btn"></div>
    </div>
  </section>

  <script src="js/projects/project5/1.js"></script>
</body>
</html>