@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  color: white;
  background: hsl(257, 40%, 49%);
  background-image: url("/images/cards/card1/bg-desktop.svg");
  background-repeat: no-repeat;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.main .container {
  max-width: 1440px;
}

.main .container .head {
  margin-bottom: 70px;
}

.main .container .row h1 {
  padding-right: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
}

.main .container .row p {
  margin-left: 50px;
  margin-bottom: 40px;
  padding-right: 180px;
}

.main .container .row button {
  margin-left: 50px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  border-color: transparent;
  width: 200px;
  border-radius: 30px;
  padding: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.main .container .row button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
}

.main .container .foot i {
  margin-right: 20px;
  font-size: 30px;
  position: relative;
  left: 80%;
  cursor: pointer;
}

.main .container .foot i:hover {
  color: hsl(300, 69%, 71%);
}

footer {
  margin-top: 100px;
}
