@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

#card {
  background-color: hsl(244, 38%, 16%);
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 170px 200px;
  display: flex;
  flex-direction: row-reverse;
}

#img {
  background-image: url("/images/cards/card3/image-header-desktop.jpg");
  height: 446px;
  width: 540px;
  border-radius: 0px 10px 10px 0px;
}

.overlay {
  background: hsl(277, 64%, 61%);
  height: 446px;
  width: 540px;
  mix-blend-mode: multiply;
}

#get {
  min-width: 60%;
  padding-left: 55px;
  line-height: 1.8rem;
}

#get h1 {
  color: white;
  font-size: 35px;
  padding-top: 70px;
}

#get #one {
  color: hsl(277, 64%, 61%);
}

#get p {
  color: hsla(0, 0%, 100%, 0.75);
}

.stats {
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  font-weight: 700;
}

li {
  margin-right: 70px;
}

li span {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.attribution {
  color: white;
}
