@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  margin-top: 100px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sedans img {
  margin-top: 50px;
  margin-right: 220px;
}

.sedans h3 {
  margin-top: 40px;
  margin-right: 165px;
  color: white;
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
}

.sedans p {
  text-align: initial;
  margin-left: 33px;
  margin-right: 91px;
  margin-top: 40px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}

.sedans button {
  margin-bottom: 60px;
  margin-top: 100px;
  background-color: white;
  color: hsl(31, 77%, 52%);
  border-color: transparent;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-right: 100px;
}

.sedans button:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
  border-color: white;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.suvs img {
  margin-top: 50px;
  margin-right: 220px;
}

.suvs h3 {
  margin-top: 40px;
  margin-right: 205px;
  color: white;
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
}

.suvs p {
  text-align: initial;
  margin-left: 33px;
  margin-right: 91px;
  margin-top: 40px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}

.suvs button {
  margin-bottom: 60px;
  margin-top: 100px;
  background-color: white;
  color: hsl(184, 100%, 22%);
  border-color: transparent;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-right: 100px;
}

.suvs button:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
  border-color: white;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury img {
  margin-top: 50px;
  margin-right: 220px;
}

.luxury h3 {
  margin-top: 40px;
  margin-right: 165px;
  color: white;
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
}

.luxury p {
  text-align: initial;
  margin-left: 33px;
  margin-right: 91px;
  margin-top: 40px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}

.luxury button {
  margin-bottom: 60px;
  margin-top: 100px;
  background-color: white;
  color: hsl(179, 100%, 13%);
  border-color: transparent;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-right: 100px;
}

.luxury button:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border-color: white;
}
