@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.container .paragraph {
  margin-left: 60px;
}

.container .paragraph h3 {
  color: hsl(229deg 3% 48%);
  font-size: 36px;
  font-weight: 200;
}

.container .paragraph h2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 37px;
  margin-bottom: 30px;
}

.container .paragraph p {
  padding-left: 244px;
  padding-right: 224px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  margin-bottom: 100px;
}

.container .row {
  position: relative;
}

.container .supervisor {
  box-shadow: 1px 0px 20px -5px hsl(180, 62%, 55%);
  border-radius: 5px;
  border-top: 5px solid hsl(180, 62%, 55%);
  position: absolute;
  top: 134px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.container .supervisor:hover {
  transform: scale(1.05);
}

.container .supervisor img {
  left: 260px;
  top: -35px;
  position: relative;
  margin-top: 70px;
}

.container .team-builder {
  box-shadow: 1px 0px 20px -5px hsl(0, 78%, 62%);
  border-radius: 5px;
  border-top: 5px solid hsl(0, 78%, 62%);
  position: absolute;
  right: 30%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.container .team-builder:hover {
  transform: scale(1.05);
}

.container .team-builder img {
  left: 260px;
  top: -35px;
  position: relative;
  margin-top: 70px;
}

.container .calculator {
  box-shadow: 1px 0px 20px -5px hsl(212, 86%, 64%);
  border-radius: 5px;
  border-top: 5px solid hsl(212, 86%, 64%);
  position: absolute;
  right: -7%;
  top: 134px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.container .calculator:hover {
  transform: scale(1.05);
}

.container .calculator img {
  left: 260px;
  top: -35px;
  position: relative;
  margin-top: 70px;
}

.container .karma {
  box-shadow: 1px 0px 20px -5px hsl(34, 97%, 64%);
  border-radius: 5px;
  border-top: 5px solid hsl(34, 97%, 64%);
  position: relative;
  left: 38px;
  top: 290px;
  width: 380px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.container .karma:hover {
  transform: scale(1.05);
}

.container .karma img {
  left: 260px;
  top: -35px;
  position: relative;
  margin-top: 93px;
}

.container .row h4 {
  padding-top: 30px;
  padding-left: 15px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.container .row p {
  padding-left: 15px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
}

footer {
  position: relative;
  top: 330px;
  margin-left: 60px;
}
