@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 0 9%;
  background: url('/images/projects/project1/1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

header .logo {
  font-size: 2rem;
  color: white;
}

header nav a {
  position: relative;
  margin-left: 2rem;
  color: white;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scale(0);
  transition: transform .5s;
}

header nav a:hover::after {
  transform-origin: left;
  transform: scale(1);
}

header nav .btnLogin-popup {
  margin-left: 2rem;
  color: white;
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid white;
  width: 105px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

header nav .btnLogin-popup:hover {
  background-color: white;
  color: black;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 522px;
  border: 2px solid rgba(255,255,255, 0.5);
  background: transparent;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 600px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #162938;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .form-box.login {
  transition: transform .2s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .2s ease;
  transform: translateX(0);
}

.wrapper .form-box h2 {
  text-align: center;
  color: #162938;
  font-size: 2rem;
}

.wrapper .form-box .input-box {
  position: relative;
  border-bottom: 2px solid #162938;
  width: 100%;
  height: 50px;
  margin: 50px 0;
}

.wrapper .form-box .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  pointer-events: none;
  font-size: 1rem;
  color: 162938;
  font-weight: 500;
  transform: translateY(-50%);
  transition: .5s;
}

.wrapper .form-box .input-box input:focus~label,
.wrapper .form-box .input-box input:valid~label {
  top: -5px;
}

.wrapper .form-box .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #162938;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.wrapper .form-box .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  line-height: 55px;
}

.wrapper .form-box .remember-forgot {
  font-size: .9rem;
  color: #162938;
  font-weight: 500;
  margin: -15px 0px 35px;
  display: flex;
  justify-content: space-between;
}

.wrapper .form-box .remember-forgot label input {
  accent-color: #162938;
  margin-right: 5px;
}

.wrapper .form-box .remember-forgot a {
  color: #162938;
}

.wrapper .form-box .remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .form-box .btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  color: white;
  background: #162938;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.wrapper .form-box .login-register {
  font-size: .9rem;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 15px;
}

.wrapper .form-box .login-register a{
  color: #162938;
  font-weight: 600;
}

.wrapper .form-box .login-register a:hover {
  text-decoration: underline;
}